<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <h3>We charged your credit card for {{ order.total_price }}</h3>
    <h3>You have ordered {{count.last.id}} items so far and spent {{ total }} with Amadon.com!</h3>
    <p><a href="/">Go Back</a></p>
</body>
</html>