body{
    text-align: center;
}
h3{
    border: solid black 1px;
    margin: 70px auto 0;
    width: 400px;
    padding: 1%;
}
h1{
    border: solid black 1px;
    margin: 30px auto;
    font-size: 100px;
    width: 1100px;
}