<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>

    <style>
        .all_shows {
            width: 75%;
            margin-left: 1%;
            height: 400px;
            overflow: auto;
        }
    </style>
</head>

<body>
    <h1 class="mt-1">All Shows</h1>
    <div class="all_shows mt-5">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th width=2% scope="col"></th>
                    <th width=30% scope="col">Title</th>
                    <th width=10% scope="col">Network</th>
                    <th width=17% scope="col">Release Date</th>
                    <th width=17% scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                
                {% for show in shows %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{show.title}}</td>
                    <td>{{show.network}}</td>
                    <td>{{show.release_date}}</td>
                    <td>
                        <a href="/{{show.id}}/edit">edit</a>
                        <a href="/{{show.id}}/delete">delete</a>
                        <a href="/{{show.id}}">view</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/add">add new</a>
</body>



</html>